@font-face {
    font-family: irsans;
    src: url("../font/fonts/IRANSansWeb(FaNum)_Light.woff");
}

@font-face {
    font-family: irsans-b;
    src: url("../font/fonts/irsans-b.woff");
}

@font-face {
    font-family: irsans-m;
    src: url("../font/fonts/irsans-m.woff");
}

.main {
    width: 50%;
    margin: 50px auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.project-tab #tabs h6.section-title{
    color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #007BFF !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-family: irsans;
}

.btn-filter:hover{
    background: #6F42C1;
    color: white;
    width: 140px;
    height: 50px;
}
.orders:hover{
    background: rgba(111, 66, 193, 0.38);
    border-radius: 65px;
}
.ng_panel_button{
    color: black;
    text-decoration: none;
}
.ng_panel_button.active{
    border-bottom: 4px solid #007BFF;
}
.ng_panel_button:hover{
    color: black;
    text-decoration: none;
}
.menu-overlay {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);
    color: #fff;
    text-align: center;
    border-radius: 10%;
}
.menu-overlays {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);
    color: #fff;
    text-align: center;
    border-radius: 10%;
}

.menu-homepage-overlay {
    position: absolute;
    top: 0;
    right: 3rem;
    width: 105px;
    height: 423px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 15.1%, rgba(0, 0, 0, 0.13) 35.94%, rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    color: #fff;
    text-align: center;
}
/*.menu-homepage-overlay:hover {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 2.3rem;*/
/*    width: 105px;*/
/*    height: 423px;*/
/*    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);*/
/*    border-radius: 16px;*/
/*    color: #fff;*/

/*}*/

.btn-filter-factory:hover{
    background: #347BA1;
    border-radius: 68px;
    color: white;
}
.btn-filter-diagram:active{
    background: #F4F7F8;
    border-radius: 8px;
}
.shop-btn-category{
    border-bottom: 3px solid #C83838;
    font-weight: bold;
}
.btn-dashboard:hover{
    background: rgba(0, 88, 135, 0.39);
    border-radius: 8px;
}

.rightPointer::before {
    content: "";
    width: 13rem;
    height: 2px;
    transform: translate(31px,5px) scaleX(1.2);
    background: #007bff;
    display: inline-block;
}

.leftPointer::after {
    content: "";
    width: 11rem;
    height: 2px;
    transform: translate(-13px,5px) scaleX(1.16);
    background: #007bff;
    display: inline-block;
    margin-right: 15px;
}
.rightPointer-title::before {
    content: "";
    width: 52rem;
    height: 1.5px;
    transform: translate(30px,5px) scaleX(0.95);
    background: #A82633;
    display: inline-block;
}
.leftPointer-title::after {
    content: "";
    width: 54rem;
    height: 1.5px;
    transform: translate(-11px,5px) scaleX(0.94);
    background: #A82633;
    display: inline-block;
}
.leftPointer-phone::after {
    content: "";
    width: 30rem;
    height:2px;
    transform: translate(-11px,5px) scaleX(.99);
    background: #005887;
    display: inline-block;
}
.rightPointer-phone::before {
    content: "";
    width: 51rem;
    height: 2px;
    transform: translate(-11px,5px) scaleX(.93);
    background: #005887;
    display: inline-block;
}
.prices:hover{
    background: #C7B7E6 !important;

}
a.faq-activate.active{
    border-bottom: 4px solid #007BFF!important;
    box-sizing: border-box;
}

.leftPointer-know-us::after {
    content: "";
    width: 20rem;
    height: 2px;
    transform: translate(-13px,5px) scaleX(1.16);
    background: #007bff;
    display: inline-block;
    margin-right: 15px;
}
#brightness:hover {
    -webkit-filter: brightness(.2);
    filter: brightness(.15);
}

.menu-homepage-overlay p:hover {
    transform: translateY(10%);
}

.part-section.active{
    border-bottom: 4px solid #BB2717;
    box-sizing: border-box;
}
.phone:hover{
    border: 2px solid #005887;
    box-sizing: border-box;
    border-radius: 22px;
}
.menu-selected{
   width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: white;
    padding: 2px 2px 4px 2px;
}
input[type='radio']:checked:after {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    top: 2px;
    right: 2px;
    position: relative;
    background-color: #00AF27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white!important;
}

.price-product-filter:hover{
    background: #C7B7E6!important;
    border-radius: 23.5px!important;
}

.slider {
    max-width: 1110px;
    margin: 0 auto;
}

.slick-track {
    padding-top: 53px;
    padding-bottom: 53px;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.slick-slide.slick-current {
    transform: scale(1.35);
    position: relative;
    z-index: 1;
}

.slick-slide img {
    width: 45%;
}

.zoom {

    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom)*/
}

.paginate:hover{
    border: 2px solid #495F9E;
    border-radius: 5px;
}

.paginate{
    border: 2px solid white;
    border-radius: 5px;
}
a.last-price-changes.active{
    border-bottom: 4px solid #007BFF!important;
    box-sizing: border-box;
}
.targets{
    background-color:rgba(111, 66, 193, 0.17);
}