* {
    transition: all 1s;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: irsans;
    src: url("../font/fonts/IRANSansWeb(FaNum)_Light.woff");
}

@font-face {
    font-family: irsans-b;
    src: url("../font/fonts/irsans-b.woff");
}

@font-face {
    font-family: irsans-m;
    src: url("../font/fonts/irsans-m.woff");
}

* {
    font-family: irsans;
}

body.melal {
    background-color: rgba(237, 243, 245, 1);
    direction: rtl;
}

.moment-news {
    background: #FFFFFF;
    box-shadow: 10px 4px 4px 7px rgba(0, 0, 0, 0.25);
}

p.moment-new {
    font-size: 15pt;
}


.nav-border-bottom {
    border-bottom: 1px solid #3C99FC;
}

a.nav-link {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 500;
    font-size: 15pt;
}

a.header-btn {
    background-color: rgba(237, 243, 245, 1);
    border: 2px solid #A82633;
    width: 17.125rem;
    height: 4.5rem;
    left: 1.25rem;
    top: 3.1875rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

a > span.nums {
    font-size: 22.5pt;
}

.products {
    font-size: 16.25pt;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

div.hero-product {
    background-repeat: no-repeat !important;
    width: inherit !important;
    background-size: cover !important;
    height: 35.125rem;
    border-radius: 1.0625rem;
}

.nav-border-bottom {
    border-bottom: 2px solid #005887;
}

.titr {
    font-size: 28.5pt;
    line-height: 71.72px;
}

.font-30 {
    font-size: 22.5pt;
}

.font-31 {
    font-size: 24pt;
}

.font-32 {
    font-size: 24pt;
}

.font-24 {
    font-size: 18pt;
}

.font-28 {
    font-size: 21pt;
}

.font-22 {
    font-size: 16.5pt;
}

.font-16 {
    font-size: 12pt;
}

.font-18 {
    font-size: 13.5pt;
}

.font-19 {
    font-size: 14.25pt;
}

.font-20 {
    font-size: 15pt;
}

.font-21 {
    font-size: 15.75pt;
}

.font-26 {
    font-size: 19.5pt;
}

.font-36 {
    font-size: 27pt;
}

.font-28 {
    font-size: 21pt;
}

.font-38 {
    font-size: 28.5pt;
}

.font-48 {
    font-size: 36pt;
}

.font-15 {
    font-size: 11pt;
}

.price {
    color: rgba(103, 103, 103, 1);
    text-decoration-line: line-through;
}

.search-product {
    border-radius: 5px;
    border: none;
}

.search-btn {
    background-color: #007BFF;
    border-radius: 5px;
}

.jadval-btn {
    background-color: rgba(253, 139, 25, 1);
    color: white;
    border-radius: 8px;
    top: 15rem !important;
    right: 7.5rem;
}

.weight-section {
    background-image: url('../images/weight-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
}

.panel-card {
    left: 3rem;
    top: 0rem;
    position: absolute;
}

.main {
    width: 50%;
    margin: 50px auto;
}

.blog-section {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.section-divider {
    background-color: rgba(237, 243, 245, 1);
    right: 44.5%;
    bottom: -1.1rem;
}

.box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.input-forms {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;

}

.input-icon {
    position: absolute;
    left: 1.75rem;
    bottom: .85rem;
    color: rgba(0, 0, 0, 0.5);
}

.textarea-icon {
    position: absolute;
    left: 1.75rem;
    top: 3.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.about {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.posts {
    background-size: cover;
    background-repeat: no-repeat;
    width: 634px;
    height: 535px;
    border-radius: 1rem;
}

.news-card {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.post-titles {
    background: #EDF3F5;
    border-radius: 8px 0px 0px 8px;
    top: 2.5rem;
    right: 0rem;
    width: 186px;
    height: 40px;
}

.post-explains {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    bottom: 0rem;
    right: 0rem;
    width: 100%;
}

.blogs {
    background-size: cover;
    background-repeat: no-repeat;
    width: 612px;
    height: 375px;
    border-radius: 1rem !important;
}

.blog-title {
    background: rgba(255, 255, 255, 0.88);
    border-radius: 8px 0px 0px 8px;
    top: 2.2rem;
    right: 0rem;
}

.blog-explain {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    bottom: 0rem;
    right: 0rem;
    width: 100%
}

.experts {
    border: 2px solid #005887;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 16px rgba(0, 53, 81, 0.35);
    border-radius: 21px;
}

.experts-footer {
    font-size: 14pt;
    color: rgba(0, 88, 135, 1);
    height: 88px;
}

.about-factory {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.services {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 1.75rem;
}

.services-title {
    position: absolute;
    top: -6.2rem;
    left: 42%;
    background: rgba(237, 243, 245, 1);
}

.support-section {
    background-image: url('../images/support.png');
    background-repeat: no-repeat;
    background-size: 100% 108%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.intro-melal {
    background-color: rgba(237, 243, 245, 1);
    right: 45%;
    top: -1.1rem;
}

.introduce-melal {
    background-image: url('../images/about-ahanmelal.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.product-categories {
    background-repeat: no-repeat !important;
    width: 160px !important;
    background-size: cover !important;
    border-radius: 16px !important;
    height: 180px !important;
    cursor: pointer;
}

.footer-style-desktop {
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('../images/footer-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.panels {
    width: 646px;
    height: 423px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.takhfif {
    background-color: rgba(236, 35, 55, 1);
    border-radius: 9px;
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.panel-explain {
    background: white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    width: 95%;
    height: 32%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #007BFF !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-family: irsans;
}

.btn-filter {
    border: 2px solid #6F42C1;
    box-sizing: border-box;
    border-radius: 68px !important;
    width: 118px;
    height: 50px;
    font-size: 16.5pt;
}

.btn-filter:hover {
    background: #6F42C1;
    color: white;
    width: 140px;
    height: 50px;
}

.orders {
    border-radius: 68px !important;
    font-size: 18pt;
    width: 140px;
    height: 50px;
}

.orders:hover {
    background: rgba(111, 66, 193, 0.38);
    border-radius: 65px;
}

.table-style {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.table-header {
    color: rgba(255, 0, 0, 0.88);
    border-bottom: 2px solid #347BA1;
}

.input-style {
    background: rgba(255, 255, 255, 0.88);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 110px;
    height: 48px;
}

.inputs {
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.btn-filter-diagram {
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 8px;
    width: 105px;
    height: 46px;
    padding-top: .7rem;
}

.btn-filter-diagram.active {
    background: #F4F7F8 !important;
    border-radius: 8px !important;
    border: none !important;
}

.diagram-section {
    background: rgba(240, 244, 245, 0.27);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.ng_panel_button {
    color: black;
    text-decoration: none;
}

.diagram-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.ng_panel_button.active {
    border-bottom: 4px solid #007BFF;
}

.ng_panel_buttons {
    color: black;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
}

.ng_panel_buttons:hover {
    color: black;
    text-decoration: none;
}

.ng_panel_buttons.active {
    border-bottom: 4px solid #005887;

}

.ng_panel_button:hover {
    color: black;
    text-decoration: none;
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);
    color: #fff;
    text-align: center;
    border-radius: 10%;
}

.menu-overlays {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 160px;
    height: 160px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);
    color: #fff;
    text-align: center;
    border-radius: 10%;
}

.menu-homepage-overlay {
    position: absolute;
    top: 0;
    right: 3rem;
    width: 105px;
    height: 423px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 15.1%, rgba(0, 0, 0, 0.13) 35.94%, rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    color: #fff;
    text-align: center;
}

/*.menu-homepage-overlay:hover {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 2.3rem;*/
/*    width: 105px;*/
/*    height: 423px;*/
/*    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);*/
/*    border-radius: 16px;*/
/*    color: #fff;*/

/*}*/
.btn-filter-factory {
    border: 2px solid #347BA1;
    box-sizing: border-box;
    border-radius: 68px;
}

.buy-btn {
    background: #347BA1;
    border-radius: 8px;
    width: 214px;
    height: 52px;
}

.collapsed-section {
    background: rgba(255, 255, 255, 0.88);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 110px;
    height: 48px
}

.call-melal {
    background-color: rgba(237, 243, 245, 1);
    font-size: 21pt;
    text-decoration: none;
    right: 45.5%;
    bottom: -1.1rem;
}

.table-rows {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.btn-filter-factory:hover {
    background: #347BA1;
    border-radius: 68px;
    color: white;
}

.btn-filter-diagram.active {
    background: #F4F7F8;
    border-radius: 8px;
}

.shop-btn-category.active {
    border-bottom: 3px solid #C83838;
    font-weight: bold;
}

.btn-dashboard:hover {
    background: rgba(0, 88, 135, 0.39);
    border-radius: 8px;
    padding: 5px;
}

.rightPointer::before {
    content: "";
    width: 13rem;
    height: 2px;
    transform: translate(31px, 5px) scaleX(1.1);
    background: #007bff;
    display: inline-block;
}

.leftPointer::after {
    content: "";
    width: 11rem;
    height: 2px;
    transform: translate(-13px, 5px) scaleX(1.16);
    background: #007bff;
    display: inline-block;
    margin-right: 15px;
}

.rightPointer-title::before {
    content: "";
    width: 52rem;
    height: 1.5px;
    transform: translate(30px, 5px) scaleX(0.95);
    background: #A82633;
    display: inline-block;
}

.leftPointer-title::after {
    content: "";
    width: 54rem;
    height: 1.5px;
    transform: translate(-11px, 5px) scaleX(0.94);
    background: #A82633;
    display: inline-block;
}

.leftPointer-phone::after {
    content: "";
    width: 30rem;
    height: 2px;
    transform: translate(-11px, 5px) scaleX(.99);
    background: #005887;
    display: inline-block;
}

.rightPointer-phone::before {
    content: "";
    width: 51rem;
    height: 2px;
    transform: translate(-11px, 5px) scaleX(.93);
    background: #005887;
    display: inline-block;
}

.prices:hover {
    background: #C7B7E6 !important;

}

.prices {
    background: rgba(240, 244, 245, 0.27);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.diagrams {
    background: rgba(240, 244, 245, 0.27);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

a.faq-activate.active {
    border-bottom: 4px solid #007BFF !important;
    box-sizing: border-box;
}

.leftPointer-know-us::after {
    content: "";
    width: 20rem;
    height: 2px;
    transform: translate(-13px, 5px) scaleX(1.16);
    background: #007bff;
    display: inline-block;
    margin-right: 15px;
}

#brightness:hover {
    -webkit-filter: brightness(.2);
    filter: brightness(.15);
}

.menu-homepage-overlay p:hover {
    transform: translateY(10%);
}

.part-section.active {
    border-bottom: 4px solid #BB2717;
    box-sizing: border-box;
}

.phone {
    border-radius:16px;
}

.experts-card:hover .phone {
    border: 1px solid #005887;
    user-select: none;
    text-align: center;
    border-radius: 16px;
    border-top: 2px solid #005887;
}

.product-nav {
    min-width: 12rem;
    max-width: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    padding: 0;
    border: 10px solid #edf3f5;
    margin: 3px;
    background-size: cover !important;
    border-radius: 16px !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.menu-selected {
    width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: white;
    padding: 2px 2px 4px 2px;
}

.social-box {
    background-color: rgba(237, 243, 245, 1);
    right: 44%;
    top: -2.2rem
}

.phones {
    color: rgba(0, 88, 135, 1);
}

.order-num {
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 33px;
}

.order-sent {
    background: #005887;
    border-radius: 32px;
    width: 246px;
}

.order-divider {
    background-color: rgba(237, 243, 245, 1);
    top: -2.5rem;
    left: -11rem;
}

.border-divider {
    border-top: 1.5px solid #005887;
}

.divider-num {
    background-color: rgba(237, 243, 245, 1);
    top: -1.6rem;
    right: 0;
}

.divider-border {
    border-bottom: 2px solid #005887;
    top: 2.3rem
}

.divider-border-bottom {
    border-bottom: 2px solid #005887;
    bottom: 4.3rem;
    left: 0
}

.know-us-text {
    background: #CEDFE7;
    box-shadow: -2px 4px 11px rgba(0, 88, 135, 0.4);
    border-radius: 16px;
}

.know-us-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.articles-cat-border {
    border-bottom: 1px solid #000000;
}

.the-new {
    background-color: rgba(237, 243, 245, 1);
    right: 46%;
    bottom: -2.1rem
}

input[type='radio']:checked:after {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    top: 2px;
    right: 2px;
    position: relative;
    background-color: #00AF27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white !important;
}

.price-product-filter:hover {
    background: #C7B7E6 !important;
    border-radius: 23.5px !important;
}

.slider {
    max-width: 1110px;
    margin: 0 auto;
}

.slick-track {
    padding-top: 53px;
    padding-bottom: 53px;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.slick-slide.slick-current {
    transform: scale(1.35);
    position: relative;
    z-index: 1;
}

.slick-slide img {
    width: 45%;
}

.zoom-desktop {

    transition: transform .2s; /* Animation */
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.zoom-desktop:hover {
    transform: scale(1.5); /* (150% zoom)*/
}

.zoom {

    transition: transform .2s; /* Animation */
    width: 100px;
    height: 85px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom)*/
}

.paginate:hover {
    border: 2px solid #495F9E;
    border-radius: 5px;
}

.paginate {
    border: 2px solid white;
    border-radius: 5px;
}

a.last-price-changes.active {
    border-bottom: 4px solid #007BFF !important;
    box-sizing: border-box;
}

.targets {
    background-color: rgba(111, 66, 193, 0.17);
}


.overlay:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.01) 100%);

}

.hero-estekhdam {
    background-image: url('../images/estekhdam/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 382px;
    width: auto;
}

.estekhdam-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35) !important;
    border-radius: 16px !important;
}

.form-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.estekhdam-input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    height: 60px;
}

.radio-input {
    width: 26px;
    height: 26px;
    border: 1px solid #808080;
    box-sizing: border-box;
    background-color: #00AF27 !important;
}

.know-melal {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    height: 201px;
    top: 30%;
    right: 35%
}

.news-border-box {
    border-bottom: 1px solid #000000;
}

.news-border-top {
    border-bottom: 2px solid #005887;
}

.news4 {
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.38)), url('../images/news/IMG-20150528-WA0002_1.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    wwidth: 268px !important;
    height: 306px !important;
    border-radius: 1rem !important;
}

.news5 {
    background-image: url('../images/news/photo-1518253042715-a2534e1b0a7b 2.png') !important;
    border-radius: 10px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.report-divider {
    background-color: rgba(237, 243, 245, 1);
    font-size: 20pt;
    text-decoration: none;
    right: 0;
    bottom: -2.1rem;
}

#carousel {
    position: relative;
    height: 630px;
    top: -29%;
    transform: translateY(-50%);
    overflow: hidden;
    margin-top: 15rem;
    padding-top: 4rem;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    z-index: 21;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 1px rgba(0, 88, 135, 0.35);
    border-radius: 20px;
}

#carousel div img {
    width: 86px;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
    width: 75px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 75px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
    width: 75px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.prevLeftSecond img {
    width: 75px;
}

#carousel div.selected {
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 80px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.nextRightSecond img {
    width: 80px;
}

#carousel-desktop {
    position: relative;
    height: 630px;
    top: 10%;
    transform: translateY(-50%);
    overflow: hidden;
    margin-top: 15rem;
    padding-top: 4rem;
}

#carousel-desktop div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    z-index: 21;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 1px rgba(0, 88, 135, 0.35);
    border-radius: 20px;
}

#carousel-desktop div img {
    width: 200px;
    transition: width 1s;
}

#carousel-desktop div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel-desktop div.hideLeft img {
    width: 100px;
}

#carousel-desktop div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel-desktop div.hideRight img {
    width: 200px;
}

#carousel-desktop div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel-desktop div.prev img {
    width: 100px;
}

#carousel-desktop div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel-desktop div.prevLeftSecond img {
    width: 100px;
}

#carousel-desktop div.selected {
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel-desktop div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel-desktop div.next img {
    width: 100px;
}

#carousel-desktop div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel-desktop div.nextRightSecond img {
    width: 100px;
}

.hero-dividers {
    background-color: rgba(229, 237, 239, 1);
    text-decoration: none;
    right: 46%;
    bottom: -1.1rem
}

.hero-divider {
    border-bottom: 1px solid #939393;
}

.know-more {
    background-image: url('../images/About-us/asl 1.png');
    background-repeat: no-repeat;
    background-position: right;
    width: inherit;
    height: 40.375rem;
}

.videos {
    border-radius: 10%;
}

.know-more-text {
    background-color: rgba(229, 237, 239, 1);
    right: 47%;
    top: -1.4rem
}

.why-melal {
    background: linear-gradient(rgba(0, 123, 255, 0.14), rgba(52, 123, 161, 0.1)), url('../images/About-us/background.png');
    background-repeat: no-repeat;
    width: inherit;
    background-size: cover;
    height: inherit;
}

.melal-projects {
    background: rgba(255, 255, 255, 0.58);
    border-radius: 4px;
    top: 1rem;
}

.hero-contact-us {
    background: linear-gradient(0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.76)), url('../images/contact-us/business-people-meeting-discussion-working-office-concept-65007656 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 523px;
    width: auto;
}

.call-center {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 8px 8px 6px 8px rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    height: 283px;
    top: 6.5rem;
    right: 0rem;
}

.call-center2 {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 8px 8px 6px 8px rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    height: 283px;
    right: 37%;
}

.call-center3 {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 8px 8px 6px 8px rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    height: 283px;
    left: 0;
    top: 8rem
}

.experts-card {
    border: 2px solid #005887;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 2px rgba(0, 88, 135, 0.35);
    border-radius: 21px;
}

.ticket-form {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.num-input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    height: 60px;
}

.send-btn {
    background: #005887;
    border-radius: 8px;
    font-size: 22px;
    width: 351px;
    height: 52px;
}

.location-section {
    background-image: url('../images/contact-us/Capture 11.png');
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 8px #005887);
    border-radius: 16px;
    background-size: cover;
    height: 632px
}

.location-melal {
    border: 1px solid #005887;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
    bottom: -6rem;
    left: 3.2rem
}

.melal-social {
    border: 4px solid #005887;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.blog-hero {
    background: linear-gradient(0, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.56)), url('../images/Blog/book-library-with-open-textbook 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 551px;
    width: auto;
}

.search-input {
    width: 758px;
    height: 60px;
    border-radius: 64px;
    border: none;
}

.search-icon {
    background: #005887;
    border-radius: 50%;
    left: 2rem;
    top: 0
}

.filter-blog-btn {
    border: 2px solid #347BA1;
    box-sizing: border-box;
    border-radius: 68px;
}

.articles-head {
    background-color: rgba(237, 243, 245, 1);
    font-size: 18pt;
    text-decoration: none;
    right: 46%;
    bottom: -2.1rem;
}

.article-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.new-article {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.popular-articles {
    background-color: rgba(237, 243, 245, 1);
    font-size: 18pt;
    right: 43.5%;
    bottom: -2.1rem
}

.popular-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.news-hero {
    background: linear-gradient(0, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.56)), url('../images/news/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 551px;
    width: auto;
}

.news-email-input {
    width: 469px;
    height: 43px;
    border: 1px solid #495F9E;
    box-sizing: border-box;
    border-radius: 13px;
}

.register-btn {
    background: #005887;
    border: 2px solid #005887;
    box-sizing: border-box;
    border-radius: 10px;
}

.news-head {
    background-color: rgba(237, 243, 245, 1);
    right: 0;
    bottom: -2.1rem;
}

.news-box {
    box-shadow: 0px 2px 8px 3px rgba(0, 88, 135, 0.35);
    border-radius: 16px;
}

.news1 {
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.38)), url('../images/news/Mask Group.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 634px !important;
    height: 535px !important;
    border-radius: 1rem !important;

}

.news2 {
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.38)), url('../images/news/foolad-mobarake.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 622px !important;
    height: 205px !important;
    border-radius: 1rem !important;
}

.news3 {
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.38)), url('../images/news/Manufacturing_-Featured.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 346px !important;
    height: 306px !important;
    border-radius: 1rem !important;
}

.buttons {
    color: #444;
    cursor: pointer;
    transition: box-shadow 0.1s, top 0.1s;
}

/*boot5*/
.offcanvas-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%)
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem
}

.offcanvas-header .btn-close {
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: -.5rem
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%)
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%)
}

.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(-100%)
}

.offcanvas-bottom {
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transform: translateY(100%)
}

.offcanvas.show {
    transform: none
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 340px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%)
}

.border-bottom {
    border-bottom: 1px solid rgba(196, 196, 196, 0.4);
    font-weight: bold;
}

.footer-style {
    background: rgba(0, 88, 135, 0.02);
    border: 1px solid rgba(0, 88, 135, 0.62);
    box-sizing: border-box;
    box-shadow: 1px 2px 4px rgba(0, 88, 135, 0.33);
    border-radius: 4px;
    width: 65px;
    height: 45px;

}

p.footer-styles {
    text-align: center;
    font-size: 6pt;
    font-family: irsans;
    color: rgba(159, 159, 159, 1);
}

#overlay {
    padding: 0;
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: auto; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 8px;
}

#milgerd {
    background: url('../images/7.png');
}

#milgerd:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/7.png');
    cursor: pointer;
}

#milgerd:hover a {
    transform: translateY(14.5rem);
    color: white;

}

#varagh {
    background: url('../images/5.png');
}

#varagh:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/5.png');
    cursor: pointer;
}

#varagh:hover a {
    transform: translateY(14.5rem);
    color: white;

}

#pipe {
    background: url('../images/1.png');
}

#pipe:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/1.png');
    cursor: pointer;
}

#pipe:hover a {
    transform: translateY(14.5rem);
    color: white;

}

#profile {
    background: url('../images/4.png');
}

#profile:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/4.png');
    cursor: pointer;

}

#profile:hover a {
    transform: translateY(14.5rem);
    color: white;


}

#nabshi {
    background: url('../images/3.png');
}

#nabshi:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/3.png');
    cursor: pointer;
}

#nabshi:hover a {
    transform: translateY(14.5rem);
    color: white;

}

#maftool {
    background: url('../images/2.png');
}

#maftool:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/2.png');
    cursor: pointer;

}

#maftool:hover a {
    transform: translateY(14.5rem);
}

#shemsh {
    background: url('../images/8.png');
}

#shemsh:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/8.png');
    cursor: pointer;

}

#shemsh:hover a {
    transform: translateY(14.5rem);
    color: white;

}

#tir-ahan {
    background: url('../images/6.png');
}

#tir-ahan:hover {
    background: linear-gradient(#131313e3, #131313e3), url('../images/6.png');
    cursor: pointer;

}

#tir-ahan:hover a {
    transform: translateY(14.5rem);
    color: white;
}

.factory-img {
    height: 17rem !important;
}

.product-nav:hover {
    border: 10px solid white;
}

.expertOrde {
    border: 10px solid white;
}

.expertOrde::after {
    content: "\f00c     انتخاب شد";
    text-align: center;
    padding: 9.9px;
    color: #00B050;
    font-size: 12pt;
    font-weight: 900;
    background: white;
    position: absolute;
    bottom: -2.7rem;
    left: -10px;
    right: -10px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}